<div class="main-scroll">
	<div class="padding10" style="position: absolute; width: 99%;">
		<h6 class="text-light margin0 text-uppercase">
			Áreas Analíticas
			<!-- <span class="ani-hover-vertical ani-slow icon mif-broadcast place-right"></span> -->
		</h6>
		<hr class="thin bg-grayLighter">
	</div>

	<div class="col-lg-12" style="padding-top: 2rem; height: 100%;">
		<div class="row" style="height: 100%;">

			<!-- Sidebar -->
			@*<div ng-include="'Shared/SidebarFilter'" class="col-lg-3"></div>*@
			<div class="col-lg-2" ng-show="panels[0].state" style="height: 100%;">
				@Html.Partial("SidebarFilter")
				<!-- TODO:creo que podemos hacerlo con una directiva perfectamente (talvez revisar transclude property) -->
			</div>
			<!-- end of Sidebar -->

			<div class="col-lg-12" minimize-directive style="height: 100%;">
				<div class="panel" style="height: 100%; padding-bottom: 3rem;">

					<div class="heading">
						<span class="titleBarText">{{panels[1].name}}</span>
						<!--<span class="minimize" ng-click="minimize(panels[1])"></span>-->
					</div>

					<div class="content" style="height: 95%; overflow: auto;">
						<section>
							@Html.Partial("BoxHeader")
						</section>

						<!-- Enterprise Table -->
						<div class="box-body" data-ng-if="elementsList.length" style="height: 76%; overflow: auto;">
							<div class="table-responsive">
								<table class="table table-striped table-hover table-condensed table-responsive">
									<thead>
										<tr role="row">
											<th style="width: 150px; cursor: pointer;" ng-click="orderByField='Key'; reverseSort = !reverseSort"
												data-toggle="tooltip" title="Clave del Área Analítica">
												Clave
												<span ng-show="orderByField == 'Key'" style="margin-left: 5px; width: 10px;">
													<span ng-show="!reverseSort">
														<i class="glyphicon glyphicon-sort-by-attributes" style="color: black; vertical-align: sub;"></i>
													</span>
													<span ng-show="reverseSort">
														<i class="glyphicon glyphicon-sort-by-attributes-alt" style="color: black; vertical-align: sub;"></i>
													</span>
												</span>
											</th>
											<th style="width: 200px;">
												Descripci&oacute;n
											</th>
											<th style="width: 150px; cursor: pointer;" ng-click="orderByField='CentroCosto.Number'; reverseSort = !reverseSort">
												Centro de Costo
												<span ng-show="orderByField == 'CentroCosto.Number'" style="margin-left: 5px; width: 10px;">
													<span ng-show="!reverseSort">
														<i class="glyphicon glyphicon-sort-by-attributes" style="color: black; vertical-align: sub;"></i>
													</span>
													<span ng-show="reverseSort">
														<i class="glyphicon glyphicon-sort-by-attributes-alt" style="color: black; vertical-align: sub;"></i>
													</span>
												</span>
											</th>
											<th style="width: 150px; cursor: pointer;" ng-click="orderByField='Sucursal.Name'; reverseSort = !reverseSort">
												Instalación
												<span ng-show="orderByField == 'Sucursal.Name'" style="margin-left: 5px; width: 10px;">
													<span ng-show="!reverseSort">
														<i class="glyphicon glyphicon-sort-by-attributes" style="color: black; vertical-align: sub;"></i>
													</span>
													<span ng-show="reverseSort">
														<i class="glyphicon glyphicon-sort-by-attributes-alt" style="color: black; vertical-align: sub;"></i>
													</span>
												</span>
											</th>
											<th style="width: 150px; cursor: pointer;" ng-click="orderByField='TipoServicio.Name'; reverseSort = !reverseSort">
												Clasificación
												<span ng-show="orderByField == 'TipoServicio.Name'" style="margin-left: 5px; width: 10px;">
													<span ng-show="!reverseSort">
														<i class="glyphicon glyphicon-sort-by-attributes" style="color: black; vertical-align: sub;"></i>
													</span>
													<span ng-show="reverseSort">
														<i class="glyphicon glyphicon-sort-by-attributes-alt" style="color: black; vertical-align: sub;"></i>
													</span>
												</span>
											</th>
											<th style="width: 200px;">
												Unidades Anal&iacute;ticas
											</th>
											<th style="width: 80px; text-align: center;">Editar</th>
											<th style="width: 80px; text-align: center;">Dar baja/alta</th>
										</tr>
									</thead>

									<tbody aria-relevant="all" aria-live="polite" role="alert">
										<tr class="odd" data-ng-repeat="aa in elementsList.slice( ((currentPage-1)*pageSize), ((currentPage)*pageSize) ) | filter:search:strict | orderBy:orderByField:reverseSort">
											@* .slice( ((currentPage-1)*pageSize), ((currentPage)*pageSize) ) *@
											<td>{{aa.Key}}</td>
											<td>{{aa.Description}}</td>
											<td>{{aa.CentroCosto.Number}}</td>
											<td>{{aa.Sucursal.Name}}</td>
											<td>{{aa.TipoServicio.Name}}</td>
											<td>
												<span ng-repeat="ua in aa.UnidadesAnaliticas">
													{{ua.Key}}{{aa.UnidadesAnaliticas[aa.UnidadesAnaliticas.length -1].Key !== ua.Key ? ',' : ''}}
												</span>
											</td>
											<td ng-if="accessLevel === 1" style="text-align: center;">
												<a href="" data-ng-click="edit(aa)" data-toggle="tooltip" title="Editar">
                                                    <span class="icon mif-pencil" style="color: #1b6eae; font-size: 1rem;"></span>
												</a>
											</td>
											<td ng-if="accessLevel === 1" style="text-align: center;">
												<a href="" data-toggle="tooltip" title="{{aa.Active ? 'Dar baja' : 'Dar alta'}}" data-ng-click="setActivation(aa, !aa.Active)">
													<i ng-class="[aa.Active ? 'fa fa-thumbs-down' : 'fa fa-thumbs-up']"
													   ng-style="{'color': aa.Active ?'red':'green'}" style="font-size:24px;"></i>
												</a>
											</td>
										</tr>
									</tbody>

								</table>
							</div>
						</div>
						<!-- End of Enterprise Table -->

						<section>
							@Html.Partial("BoxFooter")
						</section>

					</div>
				</div>
			</div>

		</div>
	</div>

	<ul class="t-menu horizontal compact taskbar_panels">
		<li ng-repeat="p in panels" style="margin-right: 3px;">
			<a href="" ng-show="!p.state" ng-click="minimize(p)" class="text-uppercase">{{p.name}}</a>
		</li>
	</ul>

</div>

<script type="text/ng-template" id="editDialog">
	<div class="ngdialog-message">
		<form>
			<div style="margin-left: 10px; margin-right:10px;">
				<h5 style="padding-bottom: 10px;">{{dialogTitle}}</h5>
				
				<div class="col-md-6 col-lg-6">
					<div class="row" style="padding-bottom: 10px;">

						<div class="input-control text" style="margin-top: 30px; width: 100%;">
							<label>Clave</label>
							<input placeholder="Clave del Área Analítica" type="text"
								   style="margin-top: 10px; padding: 0 0 0 0.3125rem"
								   data-ng-model="ngDialogData.dData.Key">
							@* TODO: adicionar comprobacion de unique *@
						</div>

						<div class="input-control textarea" style="margin-top: 30px; width: 100%;">
							<label>Descripci&oacute;n</label>
							<textarea placeholder="Descripción" type="text" style="max-width: 100%;"
									  data-ng-model="ngDialogData.dData.Description"></textarea>
						</div>

						<div class="input-control text" style="margin-top: 30px; width: 100%;">
							<label data-toggle="tooltip" title="Centros de Costo">Centros de Costo</label>
							<select id="centrocosto-select"
									data-ng-model="ngDialogData.dData.CentroCosto.Id"
									data-ng-options="cc.Id as cc.Number for cc in centrosCosto"
									style="border: 1px #d9d9d9 solid;">
								<option value="">Selecciona un Centro de Costo</option>
							</select>
						</div>

						<div class="input-control select" style="width:100%; margin-top: 30px;">
							<label>Instalación</label>
							<select id="residue-select"
									data-ng-model="ngDialogData.dData.Sucursal.Id"
									data-ng-options="suc.Id as suc.Name + '/' + suc.Region.Name for suc in sucursales"
									style="border: 1px #d9d9d9 solid;">
								<option value="">Selecciona una Instalación</option>
							</select>
						</div>

						<div class="input-control select" style="width: 100%; margin-top: 30px;">
							<label data-toggle="tooltip" title="Tipos de Servicio">Tipos de Servicio</label>
							<select id="centrocosto-select"
									data-ng-model="ngDialogData.dData.TipoServicio.Id"
									data-ng-options="tserv.Id as tserv.Name for tserv in tiposServicio"
									style="border: 1px #d9d9d9 solid;">
								<option value="">Selecciona un Tipo de Servicio</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-6">
					<div class="panel" style="width:100%; margin-top: 10px;">
						<div class="heading">
							<span class="titleBarText">Unidades Analíticas</span>
						</div>
                        
						<div class="content" style="height:420px; overflow-y:auto;">
                            <span> Solo se mostrarán las unidades analíticas que no se hayan asociado a otras áreas analíticas.</span>
							<label class="input-control checkbox block"
								   data-ng-repeat="unit in unidadesAnaliticas">
								<input type="checkbox"
									   data-ng-model="unit.activated"
									   data-ng-click="selectUnidadAnalitica(unit)"
									   data-toggle="tooltip" title="{{unit.Description}}" data-placement="right">
								<span class="caption">{{unit.Key}}</span>
								<span class="check pull-right"></span>
							</label>
						</div>
					</div>
				</div>
				
				<div class="clearfix"></div>

				<div class="ngdialog-buttons">
					<button class="button cycle-button medium-button place-right" data-ng-click="acceptDialog()" ng-class="{disabled : isIndb}">
						<i class="fa fa-check"></i>
					</button>
				</div>
			</div>
		</form>
	</div>
</script>