<div class="main-scroll">
    <div class="padding10" style="position: absolute; width: 99%;">
        <h6 class="text-light margin0 text-uppercase">
            Roles 
            <!-- <span class="ani-hover-vertical ani-slow icon mif-organization place-right"></span>  -->
        </h6>
        <hr class="thin bg-grayLighter">
    </div>

    <div class="col-lg-12" style="padding-top: 2rem; height: 100%;">
        <div class="row" style="height: 100%;">

            <!-- Sidebar -->
            @*<div ng-include="'Shared/SidebarFilter'" class="col-lg-3"></div>*@
            <div class="col-lg-2" ng-show="panels[0].state" style="height: 100%;">
                @Html.Partial("SidebarFilter")
                <!-- TODO:creo que podemos hacerlo con una directiva perfectamente (talvez revisar transclude property) -->
            </div>
            <!-- end of Sidebar -->

            <div class="col-lg-12" minimize-directive style="height: 100%;">
                <div class="panel" style="height: 100%; padding-bottom: 3rem;">

                    <div class="heading">
                        <span class="titleBarText">{{panels[1].name}}</span>
                        <!--<span class="minimize" ng-click="minimize(panels[1])"></span>-->
                    </div>

                    <div class="content" style="height: 95%; overflow: auto;">
                        <section>
                            @Html.Partial("BoxHeader")
                        </section>

                        <!-- Role Table -->
                        <div class="box-body" data-ng-if="elementsList.length" style="height: 76%; overflow: auto;">
                            <table class="table table-striped table-hover table-condensed table-responsive">
                                <thead>
                                <tr role="row">
                                    <th style="width: 40%; cursor: pointer;" ng-click="orderByField='Name'; reverseSort = !reverseSort">
                                        Nombre del Rol
                                        <span ng-show="orderByField == 'Name'" style="margin-left: 5px; width: 10px;">
                                                <span ng-show="!reverseSort">
                                                    <i class="glyphicon glyphicon-sort-by-attributes" style="color: black; vertical-align: sub;"></i>
                                                </span>
                                                <span ng-show="reverseSort">
                                                    <i class="glyphicon glyphicon-sort-by-attributes-alt" style="color: black; vertical-align: sub;"></i>
                                                </span>
                                            </span>
                                    </th>
                                    <th style="width: 40%;">
                                        Descripci&oacute;n
                                    </th>
                                    <th style="width: 10%; text-align: center;" ng-if="accessLevel === 1">Editar</th>
                                    <th style="width: 10%; text-align: center;" ng-if="accessLevel === 1">Dar baja/alta</th>
                                </tr>
                                </thead>

                                <tbody aria-relevant="all" aria-live="polite" role="alert">
                                <tr class="odd" data-ng-repeat="role in elementsList.slice( ((currentPage-1)*pageSize), ((currentPage)*pageSize) ) | filter:search:strict | orderBy:orderByField:reverseSort">
                                    @* .slice( ((currentPage-1)*pageSize), ((currentPage)*pageSize) ) *@
                                    <td>{{role.Name}}</td>
                                    <td>{{role.Description}}</td>
                                    <td ng-if="accessLevel === 1" style="text-align: center;">
                                        <a href="" data-ng-click="edit(role)" data-toggle="tooltip" title="Editar">
                                            <span class="icon mif-pencil" style="color: #1b6eae; font-size: 1rem;"></span>
                                        </a>
                                    </td>
                                    <td ng-if="accessLevel === 1" style="text-align: center;">
                                        <a href="" data-toggle="tooltip" title="{{role.Active ? 'Dar baja' : 'Dar alta'}}" data-ng-click="setActivation(role, !role.Active)">
                                            <i ng-class="[role.Active ? 'fa fa-thumbs-down' : 'fa fa-thumbs-up']"
                                               ng-style="{'color': role.Active ?'red':'green'}" style="font-size:24px;"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>

                            </table>
                        </div>
                        <!-- End of Enterprise Table -->

                        <section>
                            @Html.Partial("BoxFooter")
                        </section>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <ul class="t-menu horizontal compact taskbar_panels">
        <li ng-repeat="p in panels" style="margin-right: 3px;">
            <a href="" ng-show="!p.state" ng-click="minimize(p)" class="text-uppercase">{{p.name}}</a>
        </li>
        <!-- TODO: Directiva minimizar.
            Hacer de esto una directiva que sea capaz de usando un type=panel coger el name del elemento,
            adicionarlo en el arreglo de paneles e incluirle las propiedades para poderse minimizar.
            Ademas la directiva debe agregar este ultimo ul para la barra de tareas.
             -->
    </ul>

</div>


<script type="text/ng-template" id="editDialog">
    <div class="ngdialog-message">
        <form>
            <div style="margin-left: 10px; margin-right:10px;">
                <h5 style="padding-bottom: 10px;">{{dialogTitle}}</h5>
				
				<div class="col-md-6 col-lg-6">
					<div class="row" style="padding-bottom: 10px;">
						<div class="input-control text" style="width:100%; margin-top: 20px;">
							<label>Nombre</label>
							<input placeholder="Nombre del Rol" type="text" style="margin-top: 10px;"
								   data-ng-model="ngDialogData.dData.Name">
						</div>
					</div>
					<div class="row">
						<div class="input-control textarea" style="width:100%; margin-top: 10px;">
							<label>Descripci&oacute;n</label>
							<textarea placeholder="Descripción del Rol" type="text" style="max-width: 100%;"
									  data-ng-model="ngDialogData.dData.Description"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="panel" style="width:100%; margin-top: 10px;">
							<div class="heading">
								<span class="titleBarText">Listado de Privilegios Disponibles</span>
							</div>
							<div class="content" style="height:169px; overflow-y:auto;">
								<div class="clearfix" data-ng-repeat="permiso in permisosList">
									<label class="input-control checkbox block" ng-if="permiso.show">
										<input type="checkbox" ng-model="permiso.activated"
											   data-ng-click="permisoActivo(permiso)"
											   data-toggle="tooltip" title="permiso.Description" data-placement="right">
										<span class="caption col-md-11" style="margin: 0; padding: 0;">
											<span class="col-md-12">
												{{permiso.Name}}
											</span>
										</span>
										<span class="check pull-right col-md-1"></span>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-6 col-lg-6">
					<div class="panel" style="width:100%; margin-top: 10px;">
						<div class="heading">
							<span class="titleBarText">Listado de Columnas de Parámetros</span>
						</div>
						<div class="content" style="height:400px; overflow-y:auto;">
							<label class="input-control checkbox block"
								   data-ng-repeat="col in paramCols">
								<input type="checkbox" data-ng-click="paramColActive(col)" data-placement="right" ng-model="col.checked">
								<span class="caption">{{col.Name}}</span>
								<span class="check pull-right"></span>
							</label>
						</div>
					</div>
				</div>

				<div class="clearfix"></div>

                <div class="ngdialog-buttons" style="margin-top: 20px;">
					<button class="button cycle-button medium-button place-right" data-ng-click="acceptDialog()" ng-class="{disabled : isIndb}">
						<i class="fa fa-check"></i>
					</button>
                    @*<button class="button primary pull-right"
                            data-ng-click="acceptDialog()">
                        <i class="fa fa-check"></i> Aceptar
                    </button>
                    <button class="button warning pull-right"
                            data-ng-click="closeThisDialog()">
                        Cancelar
                    </button>*@
                </div>
            </div>
        </form>
    </div>
</script>
