<div class="ngdialog-message">

    <div class="content-container">
        <h5 style="padding-bottom: 10px; font-weight: bold; color: #52677a; display: inline">Límites Máximos Asignados al Parámetro: </h5>
        <p style="padding-bottom: 10px; font-weight: bold; color: black; display: inline">{{ngDialogData.paramKey}}</p>

        <p data-ng-if="!ngDialogData.dData.length" style="padding-top: 0.5cm">No hay LMP disponibles para el Parámetro</p>
    </div>

    <div class="box-body" data-ng-if="ngDialogData.dData.length" style="height: 76%; overflow: auto;">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-condensed table-responsive">
                <thead>
                    <tr role="row">
                        <th style="width: 25%;">Nombre(s)</th>
                        <th style="width: 25%;">Paquete</th>
                        <th style="width: 25%;"> Grupo</th>
                        <th style="width: 25%;"> Valor</th>
                    </tr>
                </thead>

                <tbody aria-relevant="all" aria-live="polite" role="alert">
                    <tr class="odd" data-ng-repeat="lmp in ngDialogData.dData">
                        <td>{{lmp.Name}}</td>
                        <td>{{lmp.Package}}</td>
                        <td>{{lmp.Group}}</td>
                        <td>{{lmp.Value.toFixed(lmp.DecimalsPoints)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>